// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// 根据 light-mc.css 中的亮色配色方案更新
$primary   : rgb(19, 54, 101);    // --md-sys-color-primary
$secondary : rgb(46, 54, 71);     // --md-sys-color-secondary
$accent    : rgb(69, 46, 74);     // --md-sys-color-tertiary

$dark      : rgb(25, 28, 32);     // --md-sys-color-on-background
$dark-page : rgb(46, 48, 54);     // --md-sys-color-inverse-surface

$positive  : rgb(60, 100, 60);    // 自定义成功状态色
$negative  : rgb(116, 0, 6);      // --md-sys-color-error
$info      : rgb(55, 85, 134);    // --md-sys-color-primary-fixed-dim
$warning   : rgb(207, 44, 39);    // --md-sys-color-error-container
